RewriteEngine On
RewriteBase /src/

# Redirect requests to /src/api/book to /src/api/book/
RewriteCond %{REQUEST_URI} ^/src/api/book$
RewriteRule ^(.*)$ $1/ [R=301,L]

# Rewrite requests starting with /src/api/book/ to book.php
RewriteCond %{REQUEST_URI} ^/src/api/book(/.*)?$
RewriteRule ^src/api/book/(.*)$ api/book.php/$1 [QSA,L]

# customer.php routing
RewriteCond %{REQUEST_URI} ^/src/api/customer$
RewriteRule ^src/api/customer$ api/customer.php [L]

# register.php routing
RewriteCond %{REQUEST_URI} ^/src/api/customer/register$
RewriteRule ^src/api/customer/register$ api/register.php [L]

# login.php routing
RewriteCond %{REQUEST_URI} ^/src/api/customer/login$
RewriteRule ^src/api/customer/login$ api/login.php [L]
