RewriteEngine On
RewriteBase /src/

# Redirect requests to /src/api/book to /src/api/book/
RewriteCond %{REQUEST_URI} ^/src/api/book$
RewriteRule ^(.*)$ $1/ [R=301,L]

# Rewrite requests starting with /src/api/book/ to book.php
RewriteCond %{REQUEST_URI} ^/src/api/book(/.*)?$
RewriteRule ^src/api/book/(.*)$ api/book.php/$1 [QSA,L]
